@charset "UTF-8";

body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(238, 240, 248);
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 36);
    color:rgb(183, 183, 209);
    padding-top: 20px;
    font-size: 12px;
    line-height: 40px;
}

.sidebar h1 {
    background-color: rgb(30, 30, 45);
    font-size: 16px;
}

.sidebar i {
    margin: 0 10px 0 5px;
}

.main {
    margin-left: 150px;
}

header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
}

.topbar {
    margin: 0 16px 0 8px;
    font-weight: bold;
    font-size: 24px;
}
.fila {
    display: flex;
    font-weight: lighter;
    font-size: 16px;
    color: rgb(187, 187, 200);
}

.infos {
    position: absolute;
    margin: 0 8px 0 0;
    right: 0; 
    color:rgb(183, 183, 209);
}

.infos span {
   background-color: #C9F7F5; 
   color: #74DDD8;
   margin: 0 5px 0 10px;
   padding: 8px;
}

.bdd {
    background-color: white;
}

.lien_data, .bdd{
    background-color: white;
    color: black;
    margin: 50px 0 0 100px;
    width: 1200px;
    border-radius: 4px;
}

.lien_data {
    display: flex;
    align-items: center;
    line-height: 22px;
    padding: 8px 25px 8px 0px;

}
.lien_data_icone {
    font-size: 28px;
    margin: 0 20px 0 18px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bdd_titre {
    line-height: 4px;
}

.bdd_basic {
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
}

.bdd_tab {
    font-size: 16px;
    font-weight: normal; 
    color: rgb(187, 187, 200);
}

.bdd table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.bdd td,th {
    border: 1px solid rgb(187, 187, 200);
    padding: 1%;
}

