body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    background-image: url(./formsatisf.jpeg);
}

.corps {
    background-color: rgba(144, 144, 255, 0.404);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.formulaire {
    width: 30%;
    background-color:rgb(39,40,71) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px; 
    border-radius: 2%;
}

label {
    display: block; 
}

.friend, .improved {
    display: inline-block;
    border-color: rgb(39,40,71);
}

.friend label, .improved label {
   display: inline-block;
}

.submit button {
    background-color: rgb(55,175,101);
    width: 82%;
    padding: 10px 0 10px 0;
    color: white;
    margin: 14px 0 0 0;
    }

.name input, .mail input, .age input, select, textarea {
    width: 80%;
    border-radius: 1.8%;
}

.name, .mail, .age, .list1, .friend, .list2, .improved, .comment {
    margin:10px 0px 10px 0;
}






