body {
    width: 100%;
    height: 100%;
    background-color:rgb(238,238,238);
    display:flex;

    justify-content: center;
    flex-direction: column;

}

header {
    text-align: center;
}

.Portrait_image img {
    width:250px;
    padding: 2px 0px 0 40px;
}

.Portrait_image {
    background-color: #fff;
    width: 60%;
    padding: 20px 0px 20px 750px;
 }

.Portrait_image p {
    margin: 5px 0 0 5px;
}

.Dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    line-height: 30px;
    margin:10px;
}

